/* *,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    list-style: none;
    text-decoration: none;
  } */
nav{
    z-index: 999999;    
    position: absolute;
    background: transparent;
    height: 10vh;
    width: 100%;
    padding: 0.5em 3.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #fff;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.15em;
    padding: 0.35em 0;
}
.logo{
    font-size: 2.2rem;
}
.logo > .logo-icon{
    font-size: 2.5rem;
}

.logo:hover{
    color: aliceblue;
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8em;
}
nav > ul > li{
    padding: 0.25em;
}
li > a{
    color: #a1a1aa;
}
.sign-up-btn{
    padding: 0.5em 0.75em;
    background-color: #1ce783;
    color: rgba(0, 0, 0, 1);
    border-radius: 8px;
}
select{
    background-color: transparent;
    color: #a1a1aa;
    font-size: 1rem;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.25em 0;
    display: flex;
    justify-content: center;
}
option{
    color: black;
}


/* profile menus */
.profile-menus{
    position: relative;
    padding-block: 1em;
    /* transition: display 1s ease; */
}

/* .profile-menus .profile-container{
    display: none;
} */
.profile-parent{
    display: none;
    position: absolute;
    right: -0.75em;
    top: 3em;
    z-index: 99999;
}
.profile-menus:hover  .profile-parent{
    color: aliceblue;
    display: block;
}
.profile-container{
    /* visibility: hidden; */
    border: 0.1px solid rgba(240, 248, 255, 0.427);
    width: 15rem;
    height: fit-content;
    padding: 1em 1.2em;
    background-color: #282a2b;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 0.8rem;

}
.profile-menus > li > a:hover{
    color: #a1a1a1;
}

.profile-container > .border{
    opacity: 0.4;
    height: 1px;
    background-color: #1ce783;
}
.profile-items{
    width: fit-content;
    padding: 0.15em 0;
    cursor: pointer;
    transition: border-bottom 100ms ease;
}

.profile-items:hover{
    border-bottom: 3px solid #1ce783;
}

.name-email{
    padding: 0.15em 0;
}
.profile-email{
    color: #a1a1a1;
}

