.profile-container{
    width: 15rem;
    height: fit-content;
    padding: 1em 1.2em;
    background-color: #282a2b;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 0.8rem;
}
.profile-menus > li > a:hover{
    color: #a1a1a1;
}

.profile-container > .border{
    opacity: 0.4;
    height: 1px;
    background-color: #1ce783;
}
.profile-items{
    width: fit-content;
    padding: 0.15em 0;
    cursor: pointer;
    transition: border-bottom 100ms ease;
}

.profile-items:hover{
    border-bottom: 3px solid #1ce783;
}

.name-email{
    padding: 0.15em 0;
}
.profile-email{
    color: #a1a1a1;
}