.main-holder{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.holder{
    background-color: aliceblue;
    padding: 1.5em 2.5em;
    border-radius: 5px;
    width: fit-content;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.failed{
    color: crimson;
    width: 4rem;
    height: 4rem;
    margin-inline: auto;
    margin-block: 1.5em;
}

.texts{
    text-align: center;
}
.texts > h2{
    /* font-size: 1rem; */
    line-height: 1.5rem;
    color: black;
    font-weight: 600;
    text-align: center;
}
.texts > p{

    margin-block: 0.5em;
}

.btn-holder{
    text-align: center;
    padding: 2.5em 0;
}
.btn-holder > .cancel-link{
    padding: 0.75em 3em;
    background-color: crimson;
    border-radius: 5px;
    font-weight: 600;
    color: aliceblue;

}

.cancel-link:hover{
    background-color: rgb(245, 10, 57);
    
}